
/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

/* 仅显示未禁用的分钟（其他全部隐藏） */
.el-time-spinner__item.is-disabled {
  display: none !important;
}
